/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;;
}
main{
    display: flex;
  flex-direction: column;
  align-items: center;
}
.containner{
    width: 870px;
    padding: 30px;
    border-radius: 5x;
    margin-top: 21px ;
    
}
.section-title{
    font-size: 24px;
    margin-top: 3px;}

#start{
    font-size: 30px;
}
#book{ 
    padding: 10px 18px;
    border: 1px solid;
    text-decoration: none;
    background-color:rgb(207, 50, 76);
    color: rgb(255, 255, 255);
    border-radius: 15px;

}
/* Influencer products styles */
.products-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 40px;
}
/*-------------------- transfrom+transition --------------------- */
.camera-place{
    border:1px solid white;
}
.camera{
    transition:transform 5s ;
}
.camera-place:hover .camera {
transform:rotate(360deg);
transform-origin:left right;
}
               /* ------------------ */
 /* Popular Collection */
 #popular-title{
     text-align:center ;
     font-size: 28px;
     color: #3A3A3A;
 }
 .popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   grid-column-gap: 24px;
}

.collection{ 
    width: 270px;
    padding-left: 5%;
    margin-right: 10px;
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 1%; 

}
.collection .collection-banner img{
    width: 266px;
    height: 141px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{  
color: 
#FFC014;
}
.fa-star.empty{  
color: 
#AEAEAE
}
#see-more{

    text-decoration: none;
    color: #E02C6D;
align-items: var(#3A3A3A);
}